#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.bin
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.cache
*.resx
*.txt
*/bin/
*/obj/ 
*.FileListAbsolute
*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo
Libraries/Namek.Data/bin/Release/EntityFramework.xml
Libraries/Namek.Data/bin/Release/EntityFramework.SqlServer.xml
Libraries/Namek.Data/bin/Release/Autofac.xml
Libraries/Namek.Data/bin/Release/Autofac.Integration.Mvc.xml
Libraries/Namek.Data/bin/Release/AutoMapper.xml
Libraries/Namek.Data/bin/Release/AForge.xml
Libraries/Namek.Data/bin/Release/AForge.Math.xml
Libraries/Namek.Data/bin/Release/AForge.Imaging.xml
Libraries/Namek.Data/bin/Debug/System.Web.WebPages.xml
Libraries/Namek.Data/bin/Debug/System.Web.WebPages.Razor.xml
Libraries/Namek.Data/bin/Debug/System.Web.WebPages.Deployment.xml
Libraries/Namek.Data/bin/Debug/System.Web.Razor.xml
Libraries/Namek.Data/bin/Debug/System.Web.Mvc.xml
Libraries/Namek.Data/bin/Debug/Newtonsoft.Json.xml
Libraries/Namek.Data/bin/Debug/EntityFramework.xml
Libraries/Namek.Data/bin/Debug/EntityFramework.SqlServer.xml
Libraries/Namek.Data/bin/Debug/Autofac.xml
Libraries/Namek.Data/bin/Debug/Autofac.Integration.Mvc.xml
Libraries/Namek.Data/bin/Debug/AutoMapper.xml
Libraries/Namek.Data/bin/Debug/AForge.xml
Libraries/Namek.Data/bin/Debug/AForge.Math.xml
Libraries/Namek.Data/bin/Debug/AForge.Imaging.xml
Libraries/Namek.Data/bin/Release/System.Web.WebPages.Deployment.xml
Libraries/Namek.Data/bin/Release/System.Web.Razor.xml
Libraries/Namek.Data/bin/Release/System.Web.Mvc.xml
Libraries/Namek.Data/bin/Release/Newtonsoft.Json.xml
Libraries/Namek.LogServices/obj/Release/Namek.LogServices.csproj.CopyComplete
Libraries/Namek.LogServices/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
Libraries/Namek.LogServices/obj/Debug/Namek.LogServices.csproj.CopyComplete
Libraries/Namek.LogServices/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
Libraries/Namek.LogServices/bin/Release/System.Web.WebPages.xml
Libraries/Namek.LogServices/bin/Release/System.Web.WebPages.Razor.xml
Libraries/Namek.LogServices/bin/Release/System.Web.WebPages.Deployment.xml
Libraries/Namek.LogServices/bin/Release/System.Web.Razor.xml
Libraries/Namek.LogServices/bin/Release/System.Web.Mvc.xml
Libraries/Namek.LogServices/bin/Release/Newtonsoft.Json.xml
Libraries/Namek.LogServices/bin/Release/EntityFramework.xml
Libraries/Namek.LogServices/bin/Release/Autofac.xml
Libraries/Namek.LogServices/bin/Release/Autofac.Integration.Mvc.xml
Libraries/Namek.LogServices/bin/Release/AutoMapper.xml
Libraries/Namek.LogServices/bin/Release/AForge.xml
Libraries/Namek.LogServices/bin/Release/AForge.Math.xml
Libraries/Namek.LogServices/bin/Release/AForge.Imaging.xml
Libraries/Namek.LogServices/bin/Debug/System.Web.WebPages.xml
Libraries/Namek.LogServices/bin/Debug/System.Web.WebPages.Razor.xml
Libraries/Namek.LogServices/bin/Debug/System.Web.WebPages.Deployment.xml
Libraries/Namek.LogServices/bin/Debug/System.Web.Razor.xml
Libraries/Namek.LogServices/bin/Debug/System.Web.Mvc.xml
Libraries/Namek.LogServices/bin/Debug/Newtonsoft.Json.xml
Libraries/Namek.LogServices/bin/Debug/EntityFramework.xml
Libraries/Namek.LogServices/bin/Debug/Autofac.xml
Libraries/Namek.LogServices/bin/Debug/Autofac.Integration.Mvc.xml
Libraries/Namek.LogServices/bin/Debug/AutoMapper.xml
Libraries/Namek.LogServices/bin/Debug/AForge.xml
Libraries/Namek.LogServices/bin/Debug/AForge.Math.xml
Libraries/Namek.LogServices/bin/Debug/AForge.Imaging.xml
Libraries/Namek.Library/obj/Release/Namek.Library.csproj.CopyComplete
Libraries/Namek.Library/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
Libraries/Namek.Library/obj/Debug/Namek.Library.csproj.CopyComplete
Libraries/Namek.Library/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
Libraries/Namek.Library/bin/Release/System.Web.WebPages.xml
Libraries/Namek.Library/bin/Release/System.Web.WebPages.Razor.xml
Libraries/Namek.Library/bin/Release/System.Web.WebPages.Deployment.xml
Libraries/Namek.Library/bin/Release/System.Web.Razor.xml
Libraries/Namek.Library/bin/Release/System.Web.Mvc.xml
Libraries/Namek.Library/bin/Release/System.Web.Http.xml
Libraries/Namek.Library/bin/Release/System.Web.Helpers.xml
Libraries/Namek.Library/bin/Release/System.Net.Http.Formatting.xml
Libraries/Namek.Library/bin/Release/Newtonsoft.Json.xml
Libraries/Namek.Library/bin/Release/Autofac.xml
Libraries/Namek.Library/bin/Release/Autofac.Integration.WebApi.xml
Libraries/Namek.Library/bin/Release/Autofac.Integration.Mvc.xml
Libraries/Namek.Library/bin/Release/AForge.xml
Libraries/Namek.Library/bin/Release/AForge.Math.xml
Libraries/Namek.Library/bin/Release/AForge.Imaging.xml
Libraries/Namek.Library/bin/Debug/System.Web.WebPages.xml
Libraries/Namek.Library/bin/Debug/System.Web.WebPages.Razor.xml
Libraries/Namek.Library/bin/Debug/System.Web.WebPages.Deployment.xml
Libraries/Namek.Library/bin/Debug/System.Web.Razor.xml
Libraries/Namek.Library/bin/Debug/System.Web.Mvc.xml
Libraries/Namek.Library/bin/Debug/System.Web.Http.xml
Libraries/Namek.Library/bin/Debug/System.Web.Helpers.xml
Libraries/Namek.Library/bin/Debug/System.Net.Http.Formatting.xml
Libraries/Namek.Library/bin/Debug/Newtonsoft.Json.xml
Libraries/Namek.Library/bin/Debug/Autofac.xml
Libraries/Namek.Library/bin/Debug/Autofac.Integration.WebApi.xml
Libraries/Namek.Library/bin/Debug/Autofac.Integration.Mvc.xml
Libraries/Namek.Library/bin/Debug/AForge.xml
Libraries/Namek.Library/bin/Debug/AForge.Math.xml
Libraries/Namek.Library/bin/Debug/AForge.Imaging.xml
Libraries/Namek.Data/obj/Release/Namek.Data.csproj.CopyComplete
Libraries/Namek.Data/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
Libraries/Namek.Data/obj/Debug/Namek.Data.csproj.CopyComplete
Libraries/Namek.Data/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
Libraries/Namek.Data/bin/Release/System.Web.WebPages.xml
Libraries/Namek.Data/bin/Release/System.Web.WebPages.Razor.xml
Libraries/Namek.Data/obj/
Libraries/Namek.LogServices/obj/
Libraries/Namek.Library/obj/
Namek.Admin/obj
Namek.Admin/bin
Namek.Api/obj
Namek.Api/bin
Namek.Web/obj
Namek.Web/bin

**/bin/*
**/obj/*
Namek.Admin/obj/*
Namek.Admin/bin/*
Namek.Api/obj/*
Namek.Api/bin/*
Namek.Web/obj/*
Namek.Web/bin/*
packages/NLog.4.7.9/lib/xamarinios10/NLog.xml
packages/NLog.4.7.9/lib/wp8/NLog.xml
packages/NLog.4.7.9/lib/sl5/NLog.xml
packages/NLog.4.7.9/lib/sl4/NLog.xml
packages/NLog.4.7.9/lib/netstandard2.0/NLog.xml
packages/NLog.4.7.9/lib/net40-client/NLog.xml
packages/NLog.4.7.9/lib/net35/NLog.xml
packages/NLog.4.7.9/lib/monoandroid44/NLog.xml
packages/NLog.4.7.9/NLog.4.7.9.nupkg
packages/NLog.4.7.9/.signature.p7s
packages/NLog.4.7.9/lib/netstandard1.5/NLog.xml
packages/NLog.4.7.9/lib/netstandard1.3/NLog.xml
packages/NLog.4.7.9/lib/net45/NLog.xml
