<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" />
    <section name="NopConfig" type="Namek.Library.Infrastructure.NopConfig, Namek.Library" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <resizer>
    <plugins>
      <add name="DiskCache" />
      <add name="PsdReader" />
      <add name="PrettyGifs" />
      <add name="Image404" />
      <add name="AnimatedGifs" />
      <add name="Gradient" />
      <add name="SimpleFilters" />
      <add name="RemoteReader" />
      <add name="AdvancedFilters" />
      <add name="CloudFront" />
      <add name="SeamCarving" />
      <add name="FolderResizeSyntax" />
      <add name="ImageHandlerSyntax" />
      <add name="MyCode.MyPlugins.SamplePlugin" />
      <add name="WhitespaceTrimmer" />
    </plugins>
  </resizer>
  
  <connectionStrings>
    <!--  <add name="NameKContext" connectionString=" Data Source=171.244.142.43;Initial Catalog=namek_cms;Persist Security Info=True;User ID=sa;Password=123456a@" providerName="System.Data.SqlClient" /> -->
    <!-- <add name="NameKContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=namek_cms;Integrated Security=True" providerName="System.Data.SqlClient" /> -->
    <!--<add name="NameKContext" connectionString=" Data Source=171.244.142.43;Initial Catalog=namek_cms;Persist Security Info=True;User ID=viettelidc;Password=viettelidc@2020" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ServerName" value="admin" />
    <add key="ExpireTimeMinutes" value="30" />
    <add key="IsDevelopmentEnvironment" value="true" />
    <add key="HangfireWorkersRatio" value="5" />
    <add key="GetVmPerformanceCronDaily" value="17" />
    <add key="DefaultCulture" value="vi-VN" />
    <add key="SupportedLanguages" value="vi-VN,en-US" />
    <add key="ApiGateWay" value="http://localhost:50321" />
    <add key="ApiGateWay_Automation" value="http://localhost:50321" />
    <add key="ImageFolder" value="D:\ImageFolder" />
    <add key="MasterDomain" value="http://localhost:9090/" />
    <add key="webpages:Enabled" value="false" />
    <add key="APPIDKEY" value="231fdd3f5c4fa159b40386ad" />
    <add key="SECRETKEY" value="zVRy3sd5q53gR0Ns" />
    <add key="UrlTTS" value="https://tts.mobifone.ai/api/tts" />
    <add key="RootFolderUpload" value="D:/FilesManager" />
  </appSettings>
  <NopConfig>
    <!-- Web farm support
    Enable "MultipleInstancesEnabled" if you run multiple instances.
    Enable "RunOnAzureWebApps" if you run on Windows Azure Web Apps (not cloud services). -->
    <WebFarms MultipleInstancesEnabled="False" RunOnAzureWebApps="False" />
    <!-- Windows Azure BLOB storage. Specify your connection string, container name, end point for BLOB storage here -->
    <AzureBlobStorage ConnectionString="" ContainerName="" EndPoint="" />
    <!-- Redis support (used by web farms, Azure, etc). Find more about it at https://azure.microsoft.com/en-us/documentation/articles/cache-dotnet-how-to-use-azure-redis-cache/ -->
    <RedisCaching Enabled="false" ConnectionString="localhost" />
    <!-- You can get the latest version of user agent strings at http://browscap.org/ -->
    <!-- Leave "crawlersOnlyDatabasePath" attribute empty if you want to use full version of "browscap.xml" file -->
    <UserAgentStrings databasePath="~/App_Data/browscap.xml" crawlersOnlyDatabasePath="~/App_Data/browscap.crawlersonly.xml" />
    <!-- Set the setting below to "False" if you did not upgrade from one of the previous versions. It can slightly improve performance -->
    <UseHangfireServer Enabled="True" />
    <!-- Do not edit this element. For advanced users only -->
    <Installation DisableSampleDataDuringInstallation="False" UseFastInstallationService="False" PluginsIgnoredDuringInstallation="" />
  </NopConfig>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <globalization fileEncoding="utf-8" />
    <authentication mode="None" />
    <trust level="Full" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" enableVersionHeader="false" maxRequestLength="2147483647" />
    <customErrors mode="Off" defaultRedirect="~/Error">
      <error redirect="~/Error/NotFound" statusCode="404" />
      <error redirect="~/Error/Error" statusCode="500" />
    </customErrors>
    <pages validateRequest="false" />
  </system.web>
  <system.webServer>
    <!--<modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>-->
    <staticContent>
      <remove fileExtension=".woff2" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".ttf" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <!--<add name="X-Frame-Options" value="DENY" />-->
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Referrer-Policy" value="no-referrer" />
        <add name="X-Permitted-Cross-Domain-Policies" value="none" />
        <!--<add name="Content-Security-Policy" value="default-src 'self'; script-src 'self'; style-src 'self' http://fonts.googleapis.com; font-src 'self' http://fonts.gstatic.com" />-->
      </customHeaders>
    </httpProtocol>
    <!--<rewrite>
      <rules>
        <rule name="HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="334217728" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.5.0" newVersion="5.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.5.0" newVersion="5.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.5.0" newVersion="5.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CcApiPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://203.190.170.43:9998/bulkapi" binding="basicHttpBinding" bindingConfiguration="CcApiPortBinding" contract="SmsService.CcApi" name="CcApiPort" />
    </client>
  </system.serviceModel>
</configuration>